.box {
  background: #ffffff;
  padding: 28px 32px;
  border-radius: 12px;
  width: 95%;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-family: 'Roboto', sans-serif;
}

/* ONLY content inside box is flex */
.box-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* LEFT SIDE */
.left {
  width: 78%;
}

/* RIGHT IMAGE */
.right img {
  width: 260px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.page-wrapper {
  max-width: 95%;
  margin: 0 auto;        /* center align */
  padding: 0 16px;       /* small spacing */
  box-sizing: border-box;
  // margin-top: 40px;
  // background-color: white;
}
.color{
  margin-top: 20px;
  background-color: whitesmoke;

}
//
.se{
  display: flex;
  justify-content: start;
  height: 20px;
  // margin-bottom: 50px;
  margin-top: 20px;
}
.genie-container {
  // min-height: 100vh;
  background:whitesmoke;
  font-family: 'Roboto', sans-serif;
  // margin-top: 50px;
  margin-bottom: 50px;
 width: 100%;
}
.g1{
  width: 100%;
  justify-content: center;
}

.container{
  width: 100%;
  // margin-top: 20px;
}






// Box 1 Styles


/* LEFT SIDE */
.left {
  width: 78%;
}

/* TOP ROW */
.top-row {
  display: flex;
  gap: 80px;
}

/* BOTTOM ROW */
.bottom-row {
  display: flex;
  gap: 108px;
  margin-top: 24px;
}

/* FIELD BLOCK */
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/* LABEL */
.label {
  font-size: 15px;
  font-weight: 400;
  color: black;
  margin-bottom: 6px;
  font-family: 'Roboto', sans-serif;
}

/* MAIN HEADINGS */
.heading {
  font-size: 22px;
  font-weight: 700;
  color: #0c3c35;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* VALUES */
.value {
  font-size: 15px;
  font-weight: 700;
  color: #0c3c35;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ICON */
.leaf-icon {
  font-size: 16px;
}

/* MORE DETAILS BUTTON */
.more {
  margin-top: 18px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #0c3c35;
  font-family: 'Roboto', sans-serif;
}


// box 2 2
/* brassica-detail.component.scss */

.card {
  border-radius: 12px;
  padding: 24px;
}


.style{
  color: green;


}
.content1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.info{
  width: 700px;
}
/* LEFT */
.info mat-label {

  font-size: 13px;
  color: black;
  display: block;
  margin-bottom: 6px;
}

.info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #0C3C35;
}

.info p {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #0C3C35;
}

.row {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 20px;
}
.width{
  display: flex;
  flex-direction: column;
  // width: 100%px;
}
.row2{
  display: flex;
  width: 500px;
  gap: 1;
}
.row1{
  display: flex;
  flex-direction:column ;
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #1b5e20;
  font-weight: 500;
}

/* RIGHT */
.images {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-img {
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  width: 270px;
}

.thumbs {
  display: flex;
  gap: 12px;
}

.thumbs img {
  width: 130px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}



.tgbut{
  // width:100%;
  display: flex;
  justify-content: space-between;
    position: relative;
  z-index: 1;
  // align-items: center;
// gap: 20px;
}
.butoptions{
  display: flex;
  align-content: start;
  justify-content: start;
  color: #0C3C35;
  gap:30px
}
.butoptions p{
  font-size: 16px;
  color: #0C3C35;
}


.mat2{
  // margin-top: 10px;
  gap:10px
}
.dropdown-container {
  width: 48.5%;
  position: relative;
  // box-shadow: beige;
  // border-color: #1a73e8;
  // height: 300px;
  // background-color: #1A7F38;
  // background-color: #d4e834;
  background-color: white;

  border-color: #000;
  box-shadow: 0 5px 15px rgba(0, 0, 0.0, 0.20);
  border: 2px solid #0C3C35;
}

.input-box {
  position: relative;
  display: flex;
  width: 630px;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  border-color: #0C3C35;
  padding-right: 44px;
}

.input-box input {
  border: none;
  flex: 1;
  height: 40px;
  outline: none;
  font-size: 16px;
  background-color: white;
  padding-left: 36px;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #6b7280;
  font-size: 20px;
  pointer-events: none;
}

.arrow {
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

/* Dropdown box styling */
.dropdown-box {
  // border: 2px solid #0C3C35;
  border-top: none;
  max-height: 400px;


  font-size: 15px;
  // gap: 20px;
  background-color:whitesmoke;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
  // overflow-y: auto;
  // background-color: #6F7F7B;
  // background: #fff;
  position: absolute;
  width: 620px;
  z-index: 1000;
}

.dropdown-item {
  padding: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #e6f2ef;
}

/* BUTTON */
.toggle-btn1 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  background: none;
  border: none;
  color: #0f5132;
  cursor: pointer;
}


.tabs-container {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;
}

.tab {
  font-size: 16px;
  font-weight: 200;
  color: #6d8a82;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}

.tab.active {
  color: #0f5132;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #4e8f79;
  border-radius: 2px;
}

.tab-content {
  // margin-top: 20px;
}

.select{
  display: flex;
  flex-direction: column;
  font-size: 1px;
  // gap: 10px;
}
.auth {
  display: flex;
  gap: 20px;
}

.dus {
  display: flex;
  flex-direction: column;
  // margin-top: 20px;
  margin-bottom: 20px;
  // gap: 20px;
}

.dus p{
  font-size: 19px;
  font-style:inherit;
  font-weight: 200px;
// margin-bottom: 20px;
}
//
.act h3{
  display: flex;
  font-size: 20px;
}
.act1 p{
  display: flex;
  font-size: 18px;
  font-weight: 400px;
}
.label p{
  font-size: 15px;
  font-weight: 10px;
}
.act1 h6{
  display: flex;
   color:#6F7F7B;
  font-size: 15px;
font-weight: 100px;
}
.label{
  display: flex;

}


.clear-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-icon:hover {
  color: #000;
}


// main3


/* GRID */
.authority-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 20px;
}

/* CARD */
.authority-card {
  position: relative;
  padding: 16px 18px;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

/* FLAG */
.flag {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

/* HEADER */
.header h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #1f4e45;
}

.code {
  font-weight: 500;
  color: #6b7280;
}

mat-chip {
  margin-top: 6px;
  height: 22px;
  font-size: 11px;
}

/* CONTACTS */
.contacts {
  width: 100%;
  justify-content: start;

  display: flex;
  gap: 32px;
  margin-top: 12px;
}

.col {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 6px;
}

.contacts p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #374151;
  margin: 0;
}

.contacts mat-icon {
  font-size: 16px;
  color: #5b8f7b;
}


//


